<div class="row">
    <div class="col-md-4">
            <form class="form-inline" (ngSubmit)="filter()">
                <div class="form-inline">
                    Zanr:
                    <select class="form-control" name="genre" [(ngModel)]="movie.genre">
                        <option *ngFor="let genre of genres" [ngValue]="genre">{{genre?.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    Naslov:<input name="title" class="form-control" [(ngModel)]="movie.title">
                </div>
                <input type="submit" value="filter" class="btn btn-default">
            </form>
    </div>
     
    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-default" [disabled]="currentPage<1" (click)="changePage(-1)"><</button>
            <button class="btn btn-default" [disabled]="currentPage>numberOfPages-2" (click)="changePage(1)">></button>
        </div>
    </div>
</div>

<div class="row">
<div class="col-md-12">
    <table class="table table-striped">
        <tr>
            <th>naslov</th>
            <th>radnja</th>
            <th>zanr</th>
            <th>akcija</th>

        </tr>
        <tr *ngFor="let m of movies">
            <td>{{m.title}}</td>
            <td>{{m.summary}}</td>
            <td>{{m.genre.name}}</td>
            <button class="btn btn-danger" (click)="delete(m)">izbrisi</button>
            <a class="btn btn-primary" href="update/{{m.id}}">menjaj</a>  
            <a class="btn btn-primary" href="add-projection">dodaj projekciju</a> 
        </tr>
    </table>
    <a class="btn btn-primary" href="add">dodaj</a>     


</div>
</div>


