<div class="col-md-4">
  <form class="form" (ngSubmit)="addProjection">
      <div class="form-group">
              datum projekcije:<input name="date" class="form-control" [(ngModel)]="projection.date">
      </div>
      
      <div class="form-group">
              vreme projekcije:<input name="time" class="form-control" [(ngModel)]="projection.time">
      </div>
     
      <input type="submit" value="sacuvaj" class="btn btn-primary">

  </form>
</div>