<h1>{{movie.title}}({{movie.genre?.name}})</h1>
<br/>
<div *ngIf="movie.projections">
    <h3>Projekcije</h3>
<ul>
    <li *ngFor="let p of movie.projections">
       <p>{{p.date}}  u {{p.time}}  broj slobodnih mesta {{p.numberOfFreeSeats}}</p> 
       <button class="btn btn-danger" (click)="addReservation(p)">rezervisi</button>
       <div class="form-group">
        unesi broj mesta:<input name="numberOfSeats" class="form-control" [(ngModel)]="numberOfSeats">
    </div>
    </li>
</ul>
</div>
