<div class="col-md-4">
  <form class="form" (ngSubmit)="addMovie">
      <div class="form-group">
              naslov:<input name="title" class="form-control" [(ngModel)]="movie.title">
      </div>
      
      <div class="form-group">
              radnja:<input name="summary" class="form-control" [(ngModel)]="movie.summary">
      </div>
      <div class="form-group">
        <select class="form-control" name="genre" [compareWith]="byId" [(ngModel)]="movie.genre">
            <option *ngFor="let g of genres" [ngValue]="g">{{g?.name}}</option>
        </select>
    </div>
      <input type="submit" value="sacuvaj" class="btn btn-primary">
      <button class="btn btn-primary" (click)="reset()">ponisti</button><br>


  </form>
</div>